.App {
  margin: 30px auto;
  color: white;
}
.App footer {
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}
.App a {
  color: rgb(192, 188, 255);
}
@media (max-width: 600px) {
  .App footer {
    font-size: 10px;
  }
}
