.Weather {
  text-align: left;
  border: 1px solid;
  border-radius: 8px;
  padding: 40px 20px 40px 20px;
  max-width: 500px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.Weather form {
  padding: 0;
  margin-bottom: 10px;
  font-family: monospace;
}
.Weather .FormContent {
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  color: white;
}
input[type="search"] {
  background: transparent;
}
input[type="search"]:focus {
  border: none;
  outline: none;
}
input[type="search"]::placeholder {
  color: white;
  opacity: 0.9;
}
.button:hover {
  background-color: rgb(192, 188, 255) !important;
  border: none;
}
.Weather h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0 15px 0;
}
.Weather h2 small {
  font-size: 13px;
  opacity: 0.8;
}
.Weather li {
  list-style: none;
}
.Weather ul {
  padding: 0;
}
.Weather .Icon {
  height: 74px;
  position: relative;
  bottom: 15px;
}
.Weather .Temperature {
  margin-left: 10px;
  font-size: 60px;
}
.Weather strong {
  font-size: 20px;
  position: relative;
  bottom: 25px;
}
