.Weather {
  text-align: left;
  border: 1px solid;
  border-radius: 4px;
  padding: 20px 20px 0 20px;
  max-width: 500px;
  margin: 0 auto;
}
.Weather form {
  padding: 0;
  margin-bottom: 10px;
}
.Weather .FormContent {
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  border-color: rgb(163, 163, 163);
}
.Weather h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0 15px 0;
}
.Weather li {
  list-style: none;
}
.Weather ul {
  padding: 0;
}
.Weather .Icon {
  height: 74px;
  position: relative;
  bottom: 15px;
}
.Weather .Temperature {
  margin-left: 10px;
  font-size: 60px;
}
.Weather strong {
  font-size: 20px;
  position: relative;
  bottom: 25px;
}
